body {
  font-family: "Source Code Pro", monospace;
}

.card {
  display: block;
  margin: 0 auto;
  border-color: #113f67;
  border-width: 4px;
  margin-top: 30px;
  background-color: #e7eaf6;
}

#cityForm {
  margin-bottom: 20px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.enter-city {
  margin-left: 10px;
  margin-right: 5px;
  font-style: italic;
}

#search-button {
  background: #38598b;
  border-color: #38598b;
}

#current-location-button {
  margin-left: 0px;
  background: #113f67;
  border-color: #113f67;
}

.location-info {
  padding-left: 25px;
}

.city {
  font-size: 32px;
  font-weight: 800;
}

.location-info {
  font-size: 20px;
  font-weight: 800;
}

#tempValue {
  font-size: 50px;
}

.units {
  font-size: 15px;
  font-weight: 400;
  position: relative;
  top: -34px;
}

.active {
  color: rgb(33, 33, 33);
  cursor: default;
}

#user-current-time {
  font-weight: 200;
  color: gray;
  font-size: 18px;
}

.weather {
  font-weight: 200;
  color: gray;
}

.extra-info #current-weather-icon {
  text-align: right;
  padding-right: 20px;
  font-size: 60px;
}

.wind,
.humidity {
  font-size: 18px;
  padding-right: 15px;
  text-align: right;
  color: gray;
}

.weather-forecast {
  margin-top: 35px;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
  padding-bottom: 10px;
  text-align: center;
  color: #000;
}

.forecast-day {
  font-size: 20px;
  opacity: 0.7;
}

.forecast-temp-low {
  opacity: 0.6;
}

.forecast-temp {
  font-size: 16px;
}

.forecast-icon {
  width: 60px;
}

#GitHubLink {
  font-size: 10px;
}

.card-footer {
  background-color: white;
  border-color: #113f67;
}
